<br>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <% if @user.image.present? %>
      <%= image_tag @user.image.thumb.url, class: "img-circle" %>
    <% end %>
    <h2 id="user_name"><%= @user.first_name %></h2>
    <div id="user_info">(<%= @user.city %>, <%= @user.zip_code %>)</div>
    <br>
    <% if @user != current_user %>
      <span class="center">
        <button type="button" class="btn btn-success btn-lg">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= link_to "Contact", new_message_path(to: @user.id), class: "contact_tag" %>
        </button>
      </span>
    <% end %>
  </div>
</div>
<br>
<div id="user_show">
  <br><br><br>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <h4 align="center" class="user_list"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> My Wish List</h4><br>
      <%= render partial: 'books/book', locals: {obj: @user_wished_books } %>
      <div class="center">
        <%= will_paginate @user_wished_books %>
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
      <h4 class="user_list"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> My Book List</h4><br>
      <%= render 'books/book', obj: @user_owned_books %>
      <div class="center">
        <%= will_paginate @user_owned_books %>
      </div>
    </div>
  </div>
</div>
