<div id="book_show">
  <br><br><br>
  <h2 align="center" class="book_show_title"><%= @book.title %></h2>
  <div class="col-xs-8 col-xs-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <div class="glyphicon glyphicon-hand-down" style="color:darkblue"> <span id="panel_title"> Who has this book? </span> </div>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <% if @book_owners.count == 0 %>
            Sorry, we counld not find a match
          <% else %>
            <% @book_owners.each do |owner| %>
              <ul>
                <li><%= link_to owner.full_name, user_path(owner) %>,
                    <%= owner.city %>
                    <span class="right">
                      <button type="button" class="btn btn-success btn-xs">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= link_to "Contact", new_message_path(to: owner.id), class: "contact_tag" %>
                      </button>
                    </span>
                  </li>
                </ul>

            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="well col-xs-8 col-xs-offset-2 book_well">
      <ul class="listing">
        <div class="row">
          <div class="col-md-8">
            <li><strong class="book-info">Author:</strong> <span class="book-details"><%= @book.author %></span></li>
            <li><strong class="book-info">Publisher:</strong> <span class="book-details"><%= @book.publisher %></span></li>
            <li><strong class="book-info">Weight:</strong> <span class="book-details"><%= @book.weight %></span><strong class="book-info"><%= @book.unit %></strong>
            </li>
            <% if @book.genres.any? %>
              <li><strong class="book-info">Genres:</strong> <%= render @book.genres %>
            <% end %></li>
          </div>
        </div>
      </ul>
    <hr>
    <div class="row">
      <div class="col-xs-4">
        <% if @book.image.present? %>
          <%= image_tag @book.image.large.url %>
        <% end %>
      </div>

      <div class="col-xs-7 col-xs-offset-1">
        <h4 class="description">
          <strong>Description:</strong>
        </h4>
        <div id="description-detail"><%= simple_format(@book.description) %></div>
        <div id="button_group">
          <button type="button" class="btn btn-info btn-md button_book_show">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span> <%= link_to 'Add to your book list', add_to_booklist_path(@book), class: "info_tag" %>
          </button>
          <button type="button" class="btn btn-info btn-md button_book_show">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <%= link_to 'Add to your wish list', add_to_wishlist_path(@book), class: "info_tag" %>
          </button>
        </div>
      </div>
    </div>
    <div class="book-actions">
      <% if logged_in? && false %>
        <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-xs btn-primary" %>
        <%= link_to 'Delete', book_path(@book),
                          method: :delete,
                          data: {confirm: 'Are you sure?'}, class: "btn btn-xs btn-danger" %>
      <% else %>
      <% end %>
      <%# link_to 'View all', books_path, class: "btn btn-md btn-success" %>
    </div>
  </div>

  <div class="row">

  </div>
</div>
